<manifest package="com.androidguitarnotes.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for microphone / tuner features -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Android Guitar Notes Learner">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
